@tailwind base;
@tailwind components;
@tailwind utilities;

input::-ms-reveal,
input::-ms-clear {
  display: none !important;
}

input#searchbar:-webkit-autofill {
  -webkit-text-fill-color: white !important;
  caret-color: white !important;
  font-size: 16px;
}

span.swiper-pagination-bullet {
  background-color: white;
  opacity: 100;
  width: 32px;
  border-radius: 9999px;
}

span.swiper-pagination-bullet-active {
  background-color: #2547fa;
}

@layer base {
  table {
    @apply break-all;
  }

  [type="url"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple] {
    @apply border-gray-800 focus:border-none focus:ring-0;
  }

  [type="number"],
  [type="text"],
  [type="email"],
  [type="password"],
  [type="date"],
  textarea {
    @apply border-gray-800 focus:border-primary-500 focus:ring-0;
  }

  select {
    @apply border-gray-800 focus:border-primary-500 focus:ring-0 focus:ring-offset-0;
  }

  [type="radio"] {
    @apply border-gray-800 focus:border-primary-500 focus:ring-0 focus:ring-offset-0;
  }

  input:-internal-autofill-selected {
    @apply bg-transparent text-white;
  }
}

@layer components {
  .nav-link-web {
    @apply text-sm font-bold text-white transition hover:text-primary-300 lg:text-base;
  }

  .nav-link-mobile {
    @apply line-clamp-1 overflow-clip text-sm font-bold text-secondary-500 transition hover:text-primary-300 hover:underline lg:text-base;
  }

  .c-container {
    @apply px-4 sm:px-8 md:px-12 lg:px-16 xl:px-20 2xl:px-24;
  }

  .btn-primary-sm {
    @apply flex items-center justify-center rounded-full bg-primary-500 px-5 py-2.5 text-center text-sm font-bold text-white outline outline-4 -outline-offset-4 outline-transparent transition-all hover:outline-offset-0 hover:outline-primary-500/50 lg:px-8 lg:py-3 lg:text-base;
  }

  .btn-primary {
    @apply flex items-center justify-center rounded-full bg-primary-500 px-8 py-3 text-center text-base font-bold text-white outline outline-4 -outline-offset-4 outline-transparent transition-all hover:outline-offset-0 hover:outline-primary-500/50 lg:px-10 lg:py-3.5 lg:text-lg;
  }

  .btn-secondary {
    @apply flex items-center justify-center rounded-full bg-secondary-100 px-8 py-3 text-center text-base font-bold text-secondary-500 outline outline-4 -outline-offset-4 outline-transparent transition-all hover:outline-offset-0 hover:outline-secondary-100/50 lg:px-10 lg:py-3.5 lg:text-lg;
  }

  .error-message {
    @apply mt-2 space-y-1 text-sm text-red-600 sm:text-base;
  }

  .panti-card {
    @apply flex flex-col items-center justify-center gap-4 rounded-2xl bg-white p-6 transition hover:bg-primary-500;
  }

  .panti-card img {
    @apply rounded-xl object-cover;
  }

  .panti-card h2 {
    @apply line-clamp-1 text-center text-2xl font-bold;
  }

  .panti-card p {
    @apply line-clamp-2;
  }

  .pesan-card {
    @apply flex h-fit flex-col justify-center gap-4 rounded-2xl bg-white p-8;
  }

  .pesan-card img {
    @apply h-24 w-24 rounded-full object-cover md:h-28 md:w-28 xl:h-32 xl:w-32;
  }

  .pesan-card h2 {
    @apply line-clamp-1 text-xl font-bold md:text-2xl;
  }

  .pesan-card p {
    @apply text-justify text-secondary-300 md:text-lg;
  }

  .input-container {
    @apply w-full px-2 lg:px-4;
  }

  .table-row {
    @apply border-b-[1px] border-b-gray-800 text-center;
  }

  .asset-table th {
    @apply w-1/4 py-2 text-start align-top;
  }

  .asset-table td {
    @apply w-3/4 py-2 pl-4 text-start align-top;
  }
}
